<div [nbSpinner]="submitted" nbSpinnerStatus="primary" nbSpinnerSize="large"
  style="display: block; max-width: 35rem; margin-left: auto; margin-right: auto">
  <div nbSpinnerSize="large" nbSpinnerMessage="No Internet">
    <h1 id="title" class="title">Forgot password</h1>
    <p class="sub-title">
        Enter your registration email, then check your inbox
    </p>

    <div>
      <form (ngSubmit)="requestPass()" [formGroup]="forgotForm" aria-labelledby="title" novalidate>
        <div class="form-control-group">
          <label class="label" for="input-email">Email address::</label>
          <input fieldSize="large" nbInput fullWidth formControlName="email" name="email" id="input-email"
            pattern=".+@.+\..+" placeholder="Email address" autofocus [status]="
          forgotForm.get('email').touched
            ? forgotForm.get('email').invalid
              ? 'danger'
              : 'success'
            : ''
        " [attr.aria-invalid]="
          forgotForm.get('email').invalid && forgotForm.get('email').touched ? true : null
        " />
          <ng-container *ngIf="
          forgotForm.get('email').invalid &&
          forgotForm.get('email').touched &&
          forgotForm.get('email').dirty
        ">
            <p class="caption status-danger" *ngIf="getError('email', 'required')">
              Email not empty!
            </p>
            <p class="caption status-danger" *ngIf="getError('email', 'invalidEmail')">
              Email not valid!
            </p>
          </ng-container>
        </div>

        <button nbButton fullWidth [disabled]="!forgotForm.valid" type="submit" status="success" [nbSpinner]="submitted"
          nbSpinnerStatus="primary" nbSpinnerSize="large" size="large">
          RESEND PASSWORD
        </button>
      </form>
      <section class="another-action" aria-label="Register">
        <span style="cursor: pointer; color: rgb(67, 67, 245);" [routerLink]="['../login']">Login </span>
      </section>
      
    </div>

  </div>
</div>
